In [1]:
import pandas as pd

In [3]:
import json
import urllib.request as url

In [4]:
df = json.load(url.urlopen("https://cricapi.com/api/matchCalendar?apikey=b7CYzlyYOrUCIIdbSlU753oGKN12"))

In [5]:
type(df)

dict

In [7]:
df.keys()

dict_keys(['creditsLeft', 'provider', 'ttl', 'v', 'cache', 'data', 'cache2'])

In [8]:
data = df['data']

In [9]:
data[0]

{'unique_id': 'will generate 1-2 days before match',
 'name': 'England Women v Australia Women at Taunton, Only Test - day 1',
 'date': '18 July 2019'}

In [10]:
data[-1]

{'unique_id': 'will generate 1-2 days before match',
 'name': 'TBD v TBD at Melbourne, Final (night)',
 'date': '15 November 2020'}

In [11]:
dataset = pd.DataFrame(data)

In [12]:
dataset.head()

,date,name,unique_id
0,18 July 2019,"England Women v Australia Women at Taunton, On...",will generate 1-2 days before match
1,19 July 2019,"England Women v Australia Women at Taunton, On...",will generate 1-2 days before match
2,20 July 2019,"England Women v Australia Women at Taunton, On...",will generate 1-2 days before match
3,21 July 2019,"England Women v Australia Women at Taunton, On...",will generate 1-2 days before match
4,22 July 2019,"Singapore v Qatar at Singapore, 1st Match",will generate 1-2 days before match