In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = {
    "height" : [6.2,5.8,5.4,5.2,5.1,5.9,5.10,6.2,5.11,5.3],
    "weight" : [90,60,51,55,49,76,81,87,77,63],
    "gender" : ['m','f','f','f','f','m','m','m','m','f']
}

In [3]:
df = pd.DataFrame(dataset)

In [5]:
df.head()

   height  weight gender
0     6.2      90      m
1     5.8      60      f
2     5.4      51      f
3     5.2      55      f
4     5.1      49      f

In [52]:
testData = pd.DataFrame({"height":[5.2],"weight":[60]})

In [53]:
testData

   height  weight
0     5.2      60

In [54]:
total = df.shape[0]

In [55]:
total

10

In [56]:
female_count = pd.value_counts(df['gender'])[0]
male_count = pd.value_counts(df['gender'])[1]

In [57]:
p_male = male_count / total
p_female = female_count / total

In [58]:
male_data = df[df['gender'] == 'm']

In [59]:
male_data['height'].mean()

5.702

In [60]:
male_data['weight'].mean()

82.2

In [61]:
male_data['height'].var()

0.31202000000000013

In [62]:
mean_data = df.groupby('gender').mean()

In [63]:
var_data = df.groupby('gender').var()

In [64]:
mean_data

        height  weight
gender
f        5.360    55.6
m        5.702    82.2

In [65]:
var_data

         height  weight
gender
f       0.07300    34.8
m       0.31202    37.7

In [66]:
male_mean_height = mean_data['height'][1]
male_mean_weight = mean_data['weight'][1]

male_var_height = var_data['height'][1]
male_var_weight = var_data['weight'][1]

female_mean_height = mean_data['height'][0]
female_mean_weight = mean_data['weight'][0]

female_var_height = var_data['height'][0]
female_var_weight = var_data['weight'][0]

In [67]:
def p_x_given_y(mean,var,x):
    return (1 / (np.sqrt(2 * np.pi * var))) * np.exp(-((x - mean) ** 2) / (2 * var))

In [68]:
p_x_given_y(male_mean_weight,male_var_weight,testData['weight']) * p_x_given_y(male_mean_height,male_var_height,testData['height']) * p_male

0    0.000022
dtype: float64

In [70]:
p_x_given_y(female_mean_weight,male_var_weight,testData['weight']) * p_x_given_y(female_mean_height,female_var_height,testData['height']) * p_female

0    0.031138
dtype: float64