In [2]:
import json
import pandas as pd
import urllib.request as url

In [5]:
file = open('history.city.list.json','rb')

In [6]:
jsonData = json.load(file)

In [19]:
pd.DataFrame(jsonData[10])

             id                               city
coord     53654  {'lon': 45.34375, 'lat': 2.03711}
country   53654                                 SO
findname  53654                          MOGADISHU
id        53654           {'$numberLong': '53654'}
name      53654                          Mogadishu
zoom      53654               {'$numberLong': '1'}

In [16]:
# jsonData[1]